:root {
  // FONTS
  --font-family-default: "Ubuntu", sans-serif;
  --font-size-default: 1.6rem;

  --font-size-large-1: 4.8rem;
  --font-size-large-2: 4.2rem;
  --font-size-large-3: 4rem;
  --font-size-large-4: 3.6rem;
  --font-size-large-5: 3.2rem;

  --font-size-medium-1: 2.8rem;
  --font-size-medium-2: 2.2rem;
  --font-size-medium-3: 2rem;
  --font-size-medium-4: 1.8rem;

  --font-size-small-1: 1.4rem;

  //COLORS

  --clr-white: rgba(255, 255, 255, 1);
  --clr-grey-light: rgb(248, 251, 255);

  --clr-blue-dark: rgba(28, 39, 76, 1);
  --clr-blue-transparent: rgba(105, 192, 241, .2);

  --clr-blue-default: rgba(0, 66, 147, 1);
}
