.contact-item {
  display: grid;
  grid-template-columns: 16rem 1fr;
  grid-template-rows: repeat(3, min-content);
  row-gap: 2.4rem;
  column-gap: 2.4rem;
  padding-left: 2.4rem;
  position: relative;
  cursor: pointer;
  z-index: 2;

  @include respond(tab-portrait) {
    padding-left: 1.4rem;
  }

  @include respond(phone) {
    grid-template-columns: 29.6rem;
    padding-left: 1.2rem;
    row-gap: 0.7rem;
  }
  /* Обводка */
  &::before {
    content: "";
    height: 130%;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: -1.8rem;
    right: 0.8rem;

    @include respond(tab-landscape) {
      height: 120%;
      top: -1.6rem;
    }

    @include respond(phone) {
      display: none;
    }
  }

  &:hover::before {
    background-color: var(--clr-white);
    border-radius: 5.6rem;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
  }

  /* Border with mobile version */
  &::after {
    display: none;

    @include respond(phone) {
      display: block;
      content: "";
      height: 2px;
      width: 100vw;
      position: absolute;
      background-color: var(--clr-blue-default);
      bottom: -2rem;
    }
  }

  &__name {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    border-right: 1px solid rgba(0, 66, 147, 1);
    font-size: var(--font-size-medium-4);
    font-weight: 500;
    color: var(--clr-blue-default);
    @include respond(phone) {
      grid-row: 1 / 2;
      border-right: none;
      margin-bottom: 1rem;
    }
  }

  &__address {
    grid-row: 1 / 2;
    max-width: 80%;

    @include respond(tab-landscape) {
      max-width: 90%;
    }

    @include respond(phone) {
      grid-row: 2 / 3;
      font-weight: 300;
    }
  }

  &__phone {
    grid-row: 2 / 3;
    font-weight: 500;
    max-width: fit-content;

    @include respond(phone) {
      grid-row: 3 / 4;
    }
  }

  &__time {
    grid-row: 3 / 4;

    @include respond(phone) {
      grid-row: 4 / 5;
    }
  }
}

.map-location-popup {
  display: grid;
  grid-template-columns: 21rem;
  grid-template-rows: repeat(3, min-content);
  row-gap: 0.7rem;
  position: relative;
  cursor: pointer;

  &__name {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-bottom: 1rem;
    font-size: var(--font-size-medium-1);
    font-weight: 500;
    color: var(--clr-blue-default);
  }

  &__address {
    grid-row: 2 / 3;
    max-width: 90%;
    font-size: var(--font-size-medium-3);
  }

  &__phone {
    grid-row: 3 / 4;
    font-weight: 500;
    font-size: var(--font-size-medium-2);

    max-width: fit-content;
  }

  &__time {
    grid-row: 4 / 5;
    font-size: var(--font-size-medium-3);
  }
}
