.btn-order-online {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, min-content);
  align-items: center;
  column-gap: 2.4rem;
  padding: 0.8rem 0.8rem 0.8rem 3.1rem;

  background-color: var(--clr-blue-default);
  border-radius: 6rem;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  height: 5.57rem;
  width: 23.15rem;
  @include respond(phone) {
    column-gap: 7.8rem;
    height: unset;
    width: unset;
  }

  span {
    color: var(--clr-white);
    font-weight: 400;
    position: relative;
  }

  span:first-child {
    grid-row: 1/ 2;
    font-size: var(--font-size-medium-3);
    top: 0.2rem;

    @include respond(phone) {
      font-size: var(--font-size-medium-4);
      top: 0.1rem;
    }
  }

  span:nth-child(2) {
    grid-row: 2/ 3;
    font-size: var(--font-size-small-1);
    bottom: 0.9rem;

    @include respond(phone) {
      font-size: var(--font-size-small-2);
      bottom: 0;
    }
  }

  div {
    grid-row: 1/ -1;

    position: relative;

    top: -0.1rem;
    left: -0.2rem;

    @include respond(tab-landscape) {
      left: -0.18rem;
      top: -0.15rem;
    }

    @include respond(tab-portrait) {
      left: -0.15rem;
    }

    @include respond(phone) {
      width: 4.4rem;
      left: 0.2rem;
      top: -0.05rem;
    }
  }
}
