html {
  font-size: 0.521vw; // 10px для 1920px

  @include respond(tab-landscape) {
    font-size: 0.784vw; //10 px для 1275
  }

  @include respond(tab-portrait) {
    font-size: 1.302vw; //10 px для 768
  }

  @include respond(phone) {
    font-size: 3.125vw; //10 px для 320
  }

  /*  
  font-size: 62.5%; 
  
  @include respond(desktop) {
    font-size: 0.521vw; // 10px для 1920px
  }*/
}

.main-wrapper {
  padding: 0 17.2rem;

  @include respond(tab-landscape) {
    padding: 0 12.05rem;
  }

  @include respond(tab-portrait) {
    padding: 0 1.2rem;
  }
}
