/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap'); */


body {
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
  font-weight: 300;
  line-height: normal;
  color: var(--clr-blue-dark);
  cursor: default;
}

