/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap'); */

body {
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
  font-weight: 300;
  line-height: normal;
  color: var(--clr-blue-dark);
  cursor: default;
}

.heading {
  &--h3 {
    font-size: var(--font-size-large-5);
    font-weight: 700;
    line-height: 4.2rem;

    @include respond(phone) {
      font-size: var(--font-size-medium-2);
    }
  }
}

.blue-text {
  color: var(--clr-blue-default);
}

.white-text {
  color: var(--clr-white);
}
