.section-form {
  background-image: linear-gradient(
      to bottom,
      transparent 54.6%,
      var(--clr-grey-light-1) 50%
    ),
    url("/img/section-form/background.png");

  height: 73.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);

  @include respond(tab-portrait) {
    height: 65.7rem;
    align-items: start;
    padding-top: 5rem;
  }

  @include respond(phone) {
    height: 77.8rem;
    padding-top: 2.4rem;
  }
}
